body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 45px;
  color: white;
}
h2 {
  font-size: 30px;
}
p {
  color: white;
}
.header {
  position: relative;
  text-align: right;
  color: black;
}
.text-align {
  text-align: center;
}
.header div img {
  height: 100%;
  width: 100%;
}
.top-right {
  position: absolute;
  top: 100px;
  left: 700px;
  padding-right: 40px;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.link-button {
  text-decoration: none;
  color: #005fac;
  background-color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 600;
}
.new-card {
  width: 70%;
  margin-left: 15%;
}
.new-card div img {
  width: 100px;
  padding: 100px;
}
.discription {
  color: black;
}
.call-us {
  background-image: url(images/watch.png);
  background-position: center;
  background-size: 70% 60%;
  background-repeat: no-repeat;
}
.gradient {
  padding-top: 7px;
  padding-left: 190px;
}
.flexible {
  display: flex;
}
.points {
  font-size: 20px;
}
.email-input {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
}
.footer {
  background-color: black;
  padding: 4%;
}
